body {
    font-family: Arial, sans-serif;
    /* background-color: #090020; */
    background-color: #0F0F0F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #21aaff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background-color: #2bed09;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(39, 180, 46);
}

.output {
    margin-top: 10px;
    padding: 10px;
    background-color: #e7f3fe;
    border: 1px solid #bee5eb;
    border-radius: 5px;
    text-align: left;
}
