<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Translator Clone</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="container">
        <h1>Google Translator Clone</h1>
        <form action="/translate" method="post">
            <textarea name="text" placeholder="Enter text to translate...">{{ input_text | default('') }}</textarea>
            <select name="lang">
                <option value="">Select Language</option>
                {% for code, name in languages.items() %}
                <option value="{{ code }}" {% if code==selected_lang %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Translate</button>
        </form>
        <!-- {% if translated_text %}
            <h2>Translated Text:</h2>
            <div class="output">{{ translated_text }}</div>
        {% endif %} -->
        {% if translated_text %}
        <h2>Translated Text:</h2>
        <div class="output">{{ translated_text }}</div>
        <audio id="audioPlayer" controls style="margin-top: 10px;">
            <source src="/tts?text={{ translated_text }}&lang={{ selected_lang }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        {% endif %}

    </div>
</body>

</html>